<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627368200661-biib4t6p6ancjccq3q5edp1m25pspvvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627368200661-biib4t6p6ancjccq3q5edp1m25pspvvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDZti50cVxmRvVNZg0k_sotdMlZWnr09-8</string>
	<key>GCM_SENDER_ID</key>
	<string>627368200661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BoolNaBang.BoolNaBangMBTI</string>
	<key>PROJECT_ID</key>
	<string>boolnabang-e6297</string>
	<key>STORAGE_BUCKET</key>
	<string>boolnabang-e6297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627368200661:ios:a336707ceb3a32292f555c</string>
</dict>
</plist>